<% layout('layout/layout') %>

<div class="container">
    <br><h1>Block List</h1><br>
</div>
<!-- card가 많아질수록 가로로 스크롤되게 overflow-x, white-space 옵션 설정 -->
<div class="container" style="overflow-x: scroll; white-space: nowrap;">
    <%
        blocks.forEach((el, idx) => {
    %>
    <% let str_border = (selectedIdx !== null && selectedIdx == el.index) ? 'border-primary' : ''; %>
    <div class="card <%=str_border%>" onclick="showBlock(<%=idx%>)">
        <div class="card-header">
            <h4>Block <%= el.index %></h4>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span>Hash</span>
                    <div class="text-truncate"><%= el.curHash %></div>
                </li>
                <li class="list-group-item">
                    <span>PrevHash</span>
                    <div class="text-truncate"><%= el.prevHash %></div>
                </li>
                <li class="list-group-item">
                    <span>Nonce</span>
                    <div class="text-truncate"><%= el.nonce %></div>
                </li>
                <li class="list-group-item">
                    <span>Timestamp</span>
                    <div class="text-truncate"><%= el.timestamp %></div>
                </li>
            </ul>
        </div>
    </div>
    <%
        })
    %>
    <hr>
    <div class="container">
        <h1>Transaction List (Block <%=selectedIdx%>)</h1><br>
        <%
            if (selectedIdx > 0 && txs && txs.length > 0) {
        %>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Valid?</th>
                </tr>
            </thead>
            <tbody>
                <%
                    txs.forEach((el, idx) => {
                %>
                <tr>
                    <td><%=idx%></td>
                    <td class="text-truncate" style="max-width: 150px;"><%=el.fromAddress%></td>
                    <td class="text-truncate" style="max-width: 150px;"><%=el.toAddress%></td>
                    <td class="text-truncate" style="max-width: 150px;"><%=el.amount%></td>
                    <td>✓</td>
                </tr>
                <%
                    });
                %>
            </tbody>
        </table>
    </div>
    <%
        }
    %>
    <script>
        showBlock = (index) => {
            console.log('idx: ', index);

            location.href = '/blockchain/block/' + index;
        }
    </script>
</div>